body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
}

h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.container {
    width: 1620px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 188px;
}

.header-logo-link {
    display: flex;
    align-items: center;
    gap: 37px;
}

.header-list {
    display: flex;
    gap: 65px
}

.header-logo-text {
    font-size: 24px;
    color: #ff993a;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

.header-link {
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    color: #000;
}

.header-link:hover {
    color: #ff993a;
    font-weight: 600;
    transition: 0.5s;
}

/* first section */
.hero {
    background: #ffe4cc;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 397px;
}

.hero-caption {
    padding-bottom: 20px;
    font-size: 16px;
    color: #ff993a;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    color: #ff463a;
    font-family: "Nunito", sans-serif;
    padding-bottom: 45px;
    max-width: 273px;
    text-transform: capitalize;
}

.hero-text {
    font-family: "Nunito", sans-serif;
    padding-bottom: 45px;
    max-width: 527px;
}

.hero-btn {
    background: #ff463a;
    border-radius: 5px;
    padding: 15px 30px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    color: #fff;
    font-size: 20px;
}

/* second section */
.popular {
    padding: 60px 0;
}

.popular-list {
    display: flex;
    gap: 20px;
}

.popular-item {
    background: #efefef;
    border-radius: 10px;
}

.popular-item {
    display: flex;
    align-items: center;
    gap: 117px;
    padding: 40px 140px 40px 70px;
}

.popular-item-title {
    font-weight: 700;
    font-size: 36px;
    color: #ff463a;
    padding-bottom: 10px;
    font-family: "Nunito", sans-serif;

}

.popular-item-text {
    font-family: "Raleway", sans-serif;
    padding-bottom: 45px;
}

.popular-item-btn {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px 30px;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #000;
}

/* third section */
.top-flavors {
    padding-top: 60px;
    padding-bottom: 100px;
    background: #ffe4cc;
    text-align: center;
}

.top-flavors-title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #ff463a;
    font-family: "Nunito", sans-serif;
    padding-bottom: 40px;
}

.top-flavors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 68px;
}

/* four section */
.contact {
    padding: 100px 0;
}

.contact-list {
    display: flex;
    gap: 20px;
}

.contact-item {
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 30px 35px 53px 35px;
    width: 526px;
}
.contact-item:hover {
    background-color: #FF463A;
    transition: 0.5s;
    
}
.contact-icon {
    width: 100px;
    height: 100px;
    padding-bottom: 40px;
}

.contact-title {
    font-weight: 700;
    font-size: 32px;
    color: #ff463a;
    padding-bottom: 25px;
}
.contact-title:hover{
    color: #fff;
}
.contact-phone-link,
.contact-email-link,
.contact-address {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #000;
    font-style: normal;
}
.contact-phone-link:hover,
.contact-email-link:hover,
.contact-address:hover {
    color: #fff;
}

/* footer */
.footer {
    background-color: #181818;
    padding: 60px 60px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-link {
    display: flex;
    align-items: center;
    gap: 37px;
}

.footer-logo-text {
    font-size: 24px;
    color: #ff993a;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

.footer-text {
    color: #fff;
    font-family: "Inter", sans-serif;
}